body{
    background-color: #A6D0DD;
}
h1 , h2{
    font-family: 'Abril Fatface', cursive;
}
p{
    font-family: 'Abril Fatface', cursive;
font-family: 'Oxygen', sans-serif;
}
.header{
    background-color: #A6D0DD;
    position: sticky;
    border-bottom: 2px solid #A6D0DD;
    border-radius: 0px 0px 15px 15px ;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #7cc6dd;
  }
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
    background-color: #A6D0DD;
  }
  .about-img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40%;
  }